<!DOCTYPE html>
<html>
<head>
    <title>Course Details</title>
</head>
<body>
    <h2>Course Details</h2>
    <form method="GET" action="{% url 'course_detail' %}">
        <input type="text" name="q" placeholder="Search by course code, name, or instructor">
        <button type="submit">Search</button>
    </form>
    <ul>
        {% for course in courses %}
            <li>
                <strong>Course Code:</strong> {{ course.code }}<br>
                <strong>Course Name:</strong> {{ course.name }}<br>
                <strong>Description:</strong> {{ course.description }}<br>
                <strong>Instructor:</strong> {{ course.instructor }}<br>
                <strong>Available spots:</strong> {{ course.capacity }}<br>
                <strong>Course Schedule:</strong> <br>
                <ul>
                    <li>
                        <em>Days:</em> {{ course.schedule.days }}<br>
                        <em>Start Time:</em> {{ course.schedule.start_time }}<br>
                        <em>End Time:</em> {{ course.schedule.end_time }}<br>
                        <em>Room No:</em> {{ course.schedule.room_no }}
                    </li>
                </ul><br><br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
