<!DOCTYPE html>
<html>
<head>
    <title>Course Search</title>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Retrieve upcoming deadlines data from Django template
            const upcomingDeadlines = JSON.parse('{{ upcoming_deadlines_json|escapejs }}');
    
            // Check if there are any upcoming deadlines
            if (upcomingDeadlines.length > 0) {
                // Iterate over each deadline and generate an alert
                upcomingDeadlines.forEach(function(deadline) {
                    alert('Reminder: ' + deadline.name + ' for course ' + deadline.course__name + ' is on ' + deadline.date);
                });
            }
        });
    </script>
</head>
<body>
    <h2>Course Search</h2>
    <form method="GET" action="{% url 'course_search' %}">
        <input type="text" name="q" placeholder="Search by course code, name, or instructor" value="{{ request.GET.q }}">
        <button type="submit">Search</button>
    </form>

    <h3>Search Results</h3>
    {% if no_courses_message %}
        <p>{{ no_courses_message }}</p>
    {% else %}
        {% if courses %}
            <ul>
                {% for course in courses %}
                    <li>
                        <strong>{{ course.name }}</strong> - {{ course.instructor }}<br>
                        <em>Description:</em> {{ course.description }}<br>
                        <em>Available spots:</em> {{ course.capacity }}<br>
                        <em>Course Schedule:</em>
                        <ul>
                            <li>
                                <em>Days:</em> {{ course.schedule.days }}<br>
                                <em>Start Time:</em> {{ course.schedule.start_time }}<br>
                                <em>End Time:</em> {{ course.schedule.end_time }}<br>
                                <em>Room No:</em> {{ course.schedule.room_no }}
                            </li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No courses found.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'course_search' %}?action=addcourse">
        {% csrf_token %}
        <button type="submit" name="action" value="addcourse">Add a Course</button>
    </form>
    <form method="GET" action="{% url 'course_detail' %}">
        <button type="submit">View All Course Details</button>
    </form>
    <form method="GET" action="{% url 'generate_reports' %}">
        <button type="submit">Generate Reports</button>
    </form>
</body>
</html>
