<!DOCTYPE html>
<html>
<head>
    <title>Course Search</title>
</head>
<body>
    <h2>Course Search</h2>
    <form method="GET" action="{% url 'course_search' %}">
        <input type="text" name="q" placeholder="Search by course code, name, or instructor">
        <button type="submit">Search</button>
    </form>

    <h3>Search Results</h3>
    {% if courses %}
        <ul>
            {% for course in courses %}
                <li>
                    <strong>{{ course.name }}</strong> - {{ course.instructor }}<br>
                    <em>Description:</em> {{ course.description }}<br>
                    <em>Available spots:</em> {{ course.capacity }}<br>
                    <em>Course Schedule:</em>
                    <ul>
                        <li>
                            <em>Days:</em> {{ course.schedule.days }}<br>
                            <em>Start Time:</em> {{ course.schedule.start_time }}<br>
                            <em>End Time:</em> {{ course.schedule.end_time }}<br>
                            <em>Room No:</em> {{ course.schedule.room_no }}
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No courses found.</p>

    {% endif %} 

    
    <form>
        <button type="submit" name="action" value="addcourse">Add a Course</button>
    </form>
</body>
</html>